.ssh/*
infra/.terraform/*
*.tfstate
*.tfstate.backup
*.terraform.lock.hcl

# SSL/TLS Certificates - NIE commituj do git
*.key
*.crt
*.pem
*.env
.idea/
*.pfx
kubernetes/certificate.crt
kubernetes/private.key

# Checkov reports
checkov-reports/
.checkov.baseline
checkov-report.json
