apiVersion: v1
kind: Service
metadata:
  name: flask-backend-service
  labels:
    app: vulnerablewebapp
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "5000"
    prometheus.io/path: "/metrics"
spec:
  selector:
    app: vulnerablewebapp
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
      name: http
    - protocol: TCP
      port: 5000
      targetPort: 5000
      name: metrics
  type: ClusterIP

---

apiVersion: v1
kind: Service
metadata:
  name: db
spec:
  selector:
    app: postgres
  ports:
  - protocol: TCP
    port: 5432
    targetPort: 5432