apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - app-deployment.yaml
  - app-services.yaml
  - nginx-configmap.yaml
  - hpa.yaml
  - nginx-redirect.yaml
  - nginx-loadbalancer.yaml
  - prometheus-config.yaml
  - prometheus-rbac.yaml
  - grafana-config.yaml

secretGenerator:
  - name: nginx-ssl-secret
    type: kubernetes.io/tls
    # GitHub Actions secrets
    # literals:
    #   - tls.crt=${TLS_CRT}
    #   - tls.key=${TLS_KEY}

    # Local secrets:
    files:
      - tls.crt=cert-bundle.crt
      - tls.key=private.key
  
  - name: app-secrets
    envs:
      - .env
  
  - name: db-secrets
    envs:
      - .env
